<div class="padded-sm padding-bottom-twenty">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Top Image</span>
    </div>
    <div class="main col-md-9 pull-right">
      <div class="screens clearfix">
        <div class="screen carouselicon pull-left text-center">
          <a class="border-grey border-radius-three default-background-hover text-center"
             ng-click="ContentPeople.selectTopImage()">
            <span class="add-icon"
                  ng-hide="ContentPeople.item.data.topImage">+</span>
            <img ng-show="ContentPeople.item.data.topImage"
                 ng-src="{{ContentPeople.item.data.topImage | getImageUrl : 110:85}}">
          </a>
          <span
              class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
              ng-show="ContentPeople.item.data.topImage"
              ng-click="ContentPeople.removeTopImage()"></span>
        </div>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>First Name</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             ng-model="ContentPeople.item.data.fName" placeholder="" maxlength="50">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Last Name</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             ng-model="ContentPeople.item.data.lName" placeholder="" maxlength="70">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left" >
      <span>Position</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             ng-model="ContentPeople.item.data.position" placeholder="" maxlength="140">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Email</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             ng-model="draft_email" placeholder="">
      <div class="alert alert-danger" ng-show="error.emailExists" maxlength="320">
        Email already exists
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Phone Number</span>
    </div>
    <div class="main col-md-9 pull-right">
      <input type="text" class="form-control"
             ng-model="ContentPeople.item.data.phone" placeholder="" maxlength="15">
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-3 padding-right-zero pull-left">
      <span>Text</span>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <textarea class="form-control"
                ui-tinymce="ContentPeople.bodyContentWYSIWYGOptions"
                ng-model="ContentPeople.item.data.bodyContent"
                placeholder="WYSIWYG"></textarea>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="labels col-md-1 padding-right-zero pull-left">
      <span>Links</span>
    </div>
    <div class="main col-md-11 pull-left">
      <div class="col-md-12">
        <a class="btn btn-success btn-add pull-left"
           ng-click="ContentPeople.openAddLinkPopup()">Add Contact Information</a>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-md-12 pull-right">
      <div class="draggable-list-view wide-list has-btn links-list"
           ui-sortable="ContentPeople.linksSortableOptions"
           ng-model="ContentPeople.item.data.socialLinks">
        <div class="d-item double-line square-icon clearfix"
             ng-repeat="_link in ContentPeople.item.data.socialLinks">
          <span class="icon icon-menu cursor-grab pull-left"></span>

          <div class="media-holder pull-left">
            <img ng-if="_link.iconUrl" ng-src="{{_link.iconUrl}}">
            <img ng-if="!_link.iconUrl" src="../../../../styles/media/holder-1x1.png">
          </div>
          <div class="copy pull-right" style="display: flex; align-items: center;">
            <div class="col-md-4 padding-zero pull-left">
              <a class="text-primary"
                 ng-click="ContentPeople.openEditLink(_link,$index)"><span
                  class="title ellipsis pull-left">{{_link.title}}</span></a>
              <span class="title ellipsis pull-left">{{_link.url}}</span>
            </div>
            <div class="col-md-7 padding-right-zero pull-left">
              <span class="content ellipsis" data-ng-if="_link.deepLinkUrl">{{_link.deepLinkUrl}}</span>
            </div>
            <div class="pull-right">
              <span class="btn-icon btn-delete-icon btn-danger transition-third" title="Delete"
                    ng-click="ContentPeople.removeLink($index)"></span>
            </div>
          </div>
        </div>

        <!-- Show If No Items -->
        <div class="well text-center margin-bottom-zero border-none"
             ng-hide="ContentPeople.item.data.socialLinks.length">
          <p class="margin-zero">No items found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-actions">
  <a class="btn btn-default btn-outlined margin-right-ten" style="border: 1px solid #ddd;" ng-disabled="savingPerson" ng-click="ContentPeople.cancel()" href="javaScript:void(0);">Cancel</a>
  <a class="btn btn-success margin-right-ten" ng-click="ContentPeople.save()" ng-disabled="savingPerson" href="javaScript:void(0);">{{savingPerson ? 'Saving...' : 'Save'}}</a>
</div>
